/*Null*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --index: calc(1vw + 1vh);
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  font-family: "SpiegelSans";
  font-size: 20px;
  color: #FFF;
  overflow-wrap: break-word;
  background-color: #000000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 850px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
  }
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  object-fit: cover;
}

@font-face {
  font-family: Athletic;
  font-display: swap;
  src: url("../fonts/athletic.woff") format("woff"), url("../fonts/athletic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SpiegelSans;
  font-display: swap;
  src: url("../fonts/spiegelsans4ui-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SpiegelSans;
  font-display: swap;
  src: url("../fonts/spiegelsans4ui-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SpiegelSansCd;
  font-display: swap;
  src: url("../fonts/spiegelslab4uicd-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: SpiegelSerif;
  font-display: swap;
  src: url("../fonts/spiegelseriftextui-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: SpiegelSerif;
  font-display: swap;
  src: url("../fonts/spiegelseriftextui-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: SpiegelSerif;
  font-display: swap;
  src: url("../fonts/spiegelseriftextui-bolditalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: SpiegelSerif;
  font-display: swap;
  src: url("../fonts/spiegelseriftextui-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
.header {
  background: #e64415;
  color: #fff;
}
.header__disclaimer {
  font-size: 10px;
  text-align: center;
}
.header__container {
  padding: 10px 15px 20px;
  background: none;
}
.header__label {
  font-size: 28px;
  line-height: 1.26;
}
.header__label span {
  font-family: Athletic;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.main__container {
  background: #1f1e1c;
  padding: 50px 192px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 991.98px) {
  .main__container {
    padding: 40px 100px;
  }
}
@media (max-width: 776.98px) {
  .main__container {
    padding: 40px 15px;
  }
}
.main__label {
  font-size: 18px;
  margin-bottom: 4px;
  color: #e64415;
  font-weight: 700;
  line-height: 1.26;
}
.main__label:not(:last-child) {
  margin-bottom: 5px;
}
.main__title {
  font-family: "SpiegelSansCd";
  font-size: 44px;
  line-height: 1.08;
}
.main__title:not(:last-child):not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 1050px) {
  .main__title:not(:last-child):not(:last-child) {
    margin-bottom: calc(24px + 8 * (100vw - 320px) / 730);
  }
}
.main__date {
  color: #807e7c;
  font-size: 16px;
}
.main__date:not(:last-child):not(:last-child) {
  margin-bottom: 50px;
}
@media (max-width: 1050px) {
  .main__date:not(:last-child):not(:last-child) {
    margin-bottom: calc(40px + 10 * (100vw - 320px) / 730);
  }
}
.main p,
.main a {
  font-family: SpiegelSerif;
  display: block;
}
.main p:not(:last-child),
.main a:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 1050px) {
  .main p:not(:last-child),
  .main a:not(:last-child) {
    margin-bottom: calc(16px + 8 * (100vw - 320px) / 730);
  }
}
.main a {
  color: #2f8ae4;
  font-size: 21px;
  transition: all 0.3s ease 0s;
  text-decoration: underline;
}
@media (any-hover: hover) {
  .main a:hover {
    color: #FFF;
  }
}
.main img {
  max-width: 100%;
}

.links-main {
  margin-top: 40px;
  font-size: 11px;
}
@media (max-width: 1050px) {
  .links-main {
    margin-top: calc(25px + 15 * (100vw - 320px) / 730);
  }
}
.links-main a {
  font-size: inherit;
  color: #fff;
  text-decoration: none;
}
@media (any-hover: hover) {
  .links-main a:hover {
    text-decoration: underline;
  }
}
.links-main a:not(:last-child) {
  margin-bottom: 5px;
}
.links-main__title {
  margin-bottom: 15px;
}

a.main__button{
  color: #fff;
  background:#F93E3F;
  display: inline-block;
  width: 100%;
  padding: 15px 10px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
a.main__button:hover {
  background: #a52b2b;

}

.vet-info-main{
  display: flex;
  color: #000000;
  gap: 30px;
  font-family: SpiegelSerif;
    border-radius: 5px;
    -webkit-: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
    padding: 5px;
    background-color: #F9F8F8;
    margin-bottom: 24px;
}

.vet-info-main__wrapper{
  display: flex;
    gap: 30px;
    padding: 40px 30px;
      border: 1px solid black;
        border-radius: 5px;
}

@media (max-width:650px) {
  .vet-info-main__wrapper{
    flex-direction: column;
  }
}



@media (max-width: 1050px) {

.vet-info-main {
    margin-bottom: calc(16px + 8 * (100vw - 320px) / 730);
  }
}


.vet-info-main__signature{
  width: 150px;

}
.vet-info-main__decor{
 text-align: right;
 flex: 1 0 40%;

}

.vet-info-main__text a{
  color: #000000;
  text-decoration: underline;
}
.vet-info-main__text a:hover {
  text-decoration: none;
  color: #000000;
}

.vet-info-main__title{
  font-size: 24px;
  font-weight: 700;
}
.vet-info-main__subtitle{
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}

.footer {
  background: #2f2d2b;
  color: #bbb9b7;
  text-align: center;
  font-size: 14px;
  padding: 30px 0;
}
.footer__container > div:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 1050px) {
  .footer__container > div:not(:last-child) {
    margin-bottom: calc(16px + 4 * (100vw - 320px) / 730);
  }
}
.footer__disclaimer {
  max-width: 600px;
  margin: 0 auto;
}
.menu-footer__list {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.menu-footer__item {
  line-height: 1;
}
.menu-footer__item:not(:last-child) {
  position: relative;
  padding-right: 15px;
}
.menu-footer__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
  background: #bbb9b7;
}
.menu-footer__link {
  transition: all 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu-footer__link:hover {
    color: #fff;
  }
}